{%extends 'layout.html' %}
    {% block title %}
    Productos y Servicios
    {% endblock %}</title>



    <div id="content">
        {% block content %}
        <h1>Nuestros Productos y Servicios</h1>
        <h2>Productos:</h2>
        <ul>
            <li>Facultad de Ingenieria</li>
            <li>Facultad de Medicina</li>
            <li>Facultad de Ciencias</li>
            <li>Facultad de Licenciaturas</li>
        </ul>
        <h2>Nivel Academico</h2>
        <ul>
            <li>Pregrado</li>
            <li>Posgrado</li>
        </ul>
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 La Cantina de Marlon</p>
    </footer>
</body>
</html>
